.navBar {
background: #565e6c;
padding: 10px;
display: block;
}
.searchRight {
    float: right;
    margin-top: -8px;
    color: red; 
    font-size: 13px;
}
.socMed {
    color: white;
    background: #565e6c;
    padding: 10px;
    vertical-align: middle; 
}
.socMed:hover {
    background: white;
    color: #07337a;
header h1.main {
    color: red;
}
div.imgContainer {
    position: relative;
}
 div img.image {
    position: absolute;
    left: 0;
    top: 0;
}
div.imgText {
    z-index: 100;
    position: absolute;
    padding-top: 50px;
    padding-left: 50px;
    font-size: 40px;
}
