.body {
    margin: 0;
    padding: 0; 
}
.navBar {
background: #565e6c;
padding: 10px;
display: block;
   border: 1px solid red;
   margin: 0;
}
.searchRight {
    float: right;
    margin-top: -8px;
    font-size: 13px;
}
.socMed {
    color: white;
    background: #565e6c;
    padding: 10px;
    vertical-align: middle; 
}
.socMed:hover {
    background: white;
    color: #07337a;
}
.main {
     font-family: 'Oswald', sans-serif;
     font-size: 70px;
    font-weight: bold; 
    text-align: center; 
    color: #565e6c; 
    display: block; 
       border: 1px solid red;
}
.underMain {
    font-family: 'Oswald', sans-serif;
     font-size: 30px;
    font-weight: bold; 
    text-align: center; 
    color: #565e6c; 
   display: block; 
      border: 1px solid red;
}
.imgContainer {
    position: relative;
    display: block;
    color: #565e6c;
    padding: 0; 
       border: 1px solid red;
}
.subscribebutt {
    background-color: #f6dba4;
    border: none; 
    border-radius: 15px;
    font-family: 'Oswald', sans-serif;
}
.subscribebutt:hover {
    -webkit-box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
     -moz-box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
     box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
}
.mainrow {
     display: block;
     margin: 0;
     padding: 0;
     border: 1px solid red;
}
 .image {
     float: left;
     display: block;
     margin: 0;
     padding: 0;
     border: 1px solid red;
}
.imgText {
    z-index: 100;
    position: absolute;
    padding-top: 50px;
    padding-left: 50px;
    font-size: 30px;
    text-shadow: 2px 2px 1px #f6dba4;
    border: 1px solid red;
}
.title {
    padding-bottom: 50px;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    border: 1px solid red;
}
.blogEntry {
    text-align: center;
}
.tithead {
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    
}
.blogEntries {
    
}
.gridsystem{
    background-color: #f6dba4;
}
